html, body{
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  font-family: "Open Sans", serif;

  background-image:url("/static/images/espresso.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat:none;
  box-sizing: border-box;
  background-attachment: fixed;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.fancyFont
{
  font-family:"Syncopate";
}
.overlay
{
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  background-color:rgba(40,40,40,0);
  height:100%;
  width:100%;
}

div.header
{
  width:100%;
  float:none;

  height:10vh;
  background-color:rgba(40,40,40,0.6);

  color:#f1eee8;

  cursor: pointer;
}
div.header:hover
{
  color:#f1fff8;
}
div.header:active
{
  color:#e1ddd8;
}
div.main
{
  height:90vh;
  width:100%;
  float:none;
  text-align:center;
  color:#f1eee8;

  font-size:1.5em;
  padding:32px;
}
span.logo
{
  display:block;
  padding:0;
  padding-left:16px;
  padding-top:0.5em;
  font-size:2em;
}
span.logo.strong
{
  font-weight:700;
}

div.title_section
{
  margin-top:3em;
  margin-bottom:3em;
  width:60%;
  margin-left: auto;
  margin-right:auto;
}
input#listable
{
  border:none;
  border-bottom:2px Solid #eee;
  background-color:transparent;
  width:30em;
}

div#howto
{
  margin-top:4em;
  font-size:0.8em;
  text-align:left;
}

div.title_section strong
{
  font-weight:600;
}

button#rankem
{
  background-color:#f1eee8;
  color:#282828;
  border:none;
  border-radius:10px;
  font-size: 1em;
  cursor: pointer;
  width:10em;
  height:2.5em;
  font-family:inherit;
}
button#rankem:hover
{
  background-color:#f1fff8;
  color:#181818;
}
button#rankem:active
{
  background-color:#282828;
  color:#f1fff8;
}


@media only screen and (max-width: 840px) and (min-width: 422px){
  div.title_section
  {
    width:100%;
    padding-left:32px;
    padding-right:32px;
  }
  input#listable
  {
    width:15em;
  }
}
@media only screen and (max-width: 422px){
  div.title_section
  {
    width:100%;
    padding-left:8px;
    padding-right:8px;
  }
  input#listable
  {
    width:15em;
  }
}